gadzetomania.pl
CSS
a svg path[d^="M12.881 14.785v-"] {
    fill: #fff !important;
}================================gazeta.pl
plotek.pl
sport.pl
edziecko.pl
moto.pl
ukrayina.pl
INVERT
img[alt^="logo"]
.vs__actions
a.item.noSwiper img
CSS
.top_section_bg, .bottom_section_bg {
    background-color: ${#e5e5e5} !important;
}
svg [id="Group_242"],
svg [id="Path_9914"] {
    fill: ${black} !important;
}================================gazetaprawna.pl
INVERT
.bubbleMenuHamburger
.homePageUrl
.serviceLogo
.servicesMenu #menuTrigger span================================gazetaswietokrzyska.pl
INVERT
.logo
CSS
.elementor-column-wrap.elementor-element-populated {
    background-color: var(--darkreader-neutral-background) !important;
}================================gg.pl
INVERT
.chat-btns
.profile-close i
.settings-close i
CSS
.sr-contact-name span {
    background-image: none !important;
}================================gloswielkopolski.pl
INVERT
.componentsNavigationNavbar__brand================================godzinyotwarcia24.pl
INVERT
.mbdtr
.mpktr
form[action="/szukaj"]
div[id="suchfeldlabels"]================================google.*/chrome
INVERT
[src$="slate.png"]
[src$="articles.png"]
[src$="phone_desktop.png"]
[src$="homepage_tools.png"]
[src$="chrome-ui-sync.png"]
[src$="password-check.png"]
[src$="big_pixel_phone.png"]
[src=$"homepage_privacy.png"]
[src$="big_phone_desktop.png"]
[src$="chrome-ui_desktop.png"]
[src$="pixel_slate_port_desktop.png"]
[src^="/chrome/static/images/productivity/"]
[src^="/chrome/static/images/be-more-productive/"]
[src^="/chrome/static/images/download-browser/pixel"]
[src^="/chrome/static/images/google-translate/screen-"]================================gov.pl/web/bip
INVERT
.banner-promo
.banner-promo__text================================gowork.pl
INVERT
.city__img .city__text================================guitarcenter.pl
INVERT
tr > td > img
p.standard_price
p.promo_price