inforlex.pl
INVERT
div[class="content -dark"]
div[class="loginLogo"]
img[src*="infor-lex_2020.jpg"]
a[class="client-logo-entry"]================================interia.pl
INVERT
.interia-logo
.search-submit
CSS
.calendar-date,
.calendar-body {
    background-color: var(--darkreader-neutral-background) !important;
    background-image: none !important;
}================================ipko.pl
INVERT
.NB3WM
CSS
._1IGN3 {
    background-size: 75px 56px !important;
}
._3cnGx::before {
    background-size: 112px 80px !important;
}
._3o8il {
    background-size: 48px 48px !important;
}
._2A4oT::before {
    background-size: 36px 38px !important;
}================================ising.pl
CSS
body.grey-gui-bg #content,
div.grey-gui-bg,
.small-navy-heading,
.small-blue-heading,
.small-purple-heading,
.small-navy2-heading {
    background-image: none !important;
}================================itbiznes.pl
INVERT
.custom-logo================================ithardware.pl
INVERT
.navbar-brand
a[href*="uzywki.expert"]
a[href*="rankingi"]
a[href*="feed"]