obserwatorgospodarczy.pl
INVERT
.logo-img================================oferteo.pl
INVERT
img[src*="oferteo-color"]
ul.logo-box.text-center
span.icon-gray.quotation-mark================================okonto.pl
INVERT
.imageWidget================================oleole.pl
INVERT
#logo::after
div[id="brands-carousel"]
div[id="footer-logo-brands"]
img[src*="main_menu"]
img[src*="SG/icon"]================================olx.pl
CSS
.searchmain {
    background-color: var(--darkreader-inline-bgcolor) !important;
}
.wrapper, .footer-bottom {
    background-color: var(--darkreader-neutral-background) !important;
}
IGNORE IMAGE ANALYSIS
.cat-icon.cat-cmt-icon-628
.cat-icon.cat-cmt-icon-87
.cat-icon.cat-cmt-icon-2433
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-1.cat-icon-promo
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-6.cat-icon-promo
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-8.cat-icon-promo
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-7.cat-icon-promo
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-2.cat-icon-promo
.maincategories .maincategories-list .li .item a[data-id="promo"] .category-5.cat-icon-promo================================onet.pl
plejada.pl
INVERT
[class*="WeatherDay_tempIcon"]
._3ZySwSLi_pur0unnAQO2No
.forecast img
.icon-shareIcon svg
.locationName svg
.logo-cls-1
.logoImageRight
.serviceIcon
.sheet
.weatherBox .iconNow
[class*="weatherIcon"]
.websiteLogo
[class*="Logo_"]
a.serviceLogo img
img[alt="O!Konto"]
img[alt="Plejada.pl"]
ul.contentList img.icon
svg[class*="MenuIcon"]
svg[class*="LoginIcon"]
.weatherExtrasWidget__category-image img
[class*="SponsorImage"]
CSS
.mainBoxBgHolder {
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: color;
}
.weatherMap .mapLayer .fil0, #weatherChartsHolder .chartValue {
    fill: rgb(128, 128, 128) !important;
}
svg path[d^="M50.315,89"] {
    fill: ${white} !important;
}================================otomoto.pl
INVERT
.seller-card__links__link__icon