2gis.*
INVERT
#map
path[d^="M34.8"]
._oow7vi
path[d^="M15.759"]
CSS
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    color: var(--darkreader-neutral-text) !important;
}
div[style^="--bg-color"] {
    --bg-color: var(--darkreader-neutral-background) !important;
}
div[style="transform:rotateX(0deg)"] > svg[width="38"] path {
    fill: ${black} !important;
}
button[data-hamburger] span {
    background-color: ${black} !important;
}
IGNORE INLINE STYLE
a[href="/"] > svg *