*.bitrix24.ru
INVERT
#ws-canvas================================bab.la
INVERT
.logo-flash================================babyem.co.uk
INVERT
div.elementor-social-icons-wrapper a.elementor-icon
input::placeholder================================babylonbee.com
INVERT
.header-logo
.img-fluid.mb-2.d-none.d-sm-block================================bahnhof.net
CSS
.contact-form_section {
    background-image: none !important;
}================================baike.baidu.com
INVERT
.formula
IGNORE IMAGE ANALYSIS
.wiki-lemma .lemmaWgt-posterBg================================bakabt.me
INVERT
span.icon.hd
span.icon.lossless================================balena.io
INVERT
.Header__main-logo================================bandcamp.com
allochiria.com
INVERT
.bclogo.white
.vol-control
.progress
.buffer
.seek-control
#material-close
CSS
.ui-dialog {
    background-image: none !important;
}================================bandshed.net
CSS
#content {
    background-color: var(--darkreader-neutral-background) !important;
}================================banki.ru
INVERT
.header__logo
CSS
.comment:nth-child(even) {
    background-color: ${#f5f5f5} !important;
}================================bankier.pl
bankier.tv
INVERT
.o-home-smart-box__header > .a-anchor > .a-image >  img[class="a-image__img"]
.hamburger
.icon > img
.menu-sidebar__close-menu > img
img[class="menu-sidebar__logo-img"]
img[alt*="Bankier.pl"]
img[src*="logo-smart.svg"]
a[href="https://www.bankier.pl/"]
img[alt="Bankier.TV"]
.m-quote-list__anchor img.a-image__img================================bankofamerica.com
INVERT
.main-nav-top-logo img
CSS
.fsdnav-sub-nav-left {
    background-color: var(--darkreader-neutral-background) !important;
}
.ad-acct-layout,.ad-acct-detail-card-layout,
.thrfwl-body,
.ad-summary-container,.olb-summary-widget-container {
    background-image: none !important;
}================================barnesandnoble.com
INVERT
.logo-img================================basecamp.com
INVERT
.top-nav__logo================================bayfiles.com
INVERT
.img-responsive
.kopimi================================bbb.*
CSS
div[class^='scrollableList'] {
     background: none !important;
     box-shadow: none !important;
}================================bbc.co.uk
bbc.co.uk/weather
bbc.com/weather
INVERT
.orb-nav-section .orb-nav-blocks
.orb-icon .orb-icon-arrow
span[class*="LogoIconWrapper"]
CSS
.wr-icon-weather-type__svg-background,
.wr-icon-rain__svg-background,
.wr-icon-wind-direction__svg-background,
.wr-icon-gel__svg-background {
    opacity: 0% !important;
}
.wr-value--windspeed {
    color: ${#dad7d2} !important;
}
.wr-c-environmental-data__icon-text {
    color: ${#dcd9d4} !important;
}================================bbc.com/news
bbc.com/sport
bbc.com/travel
bbc.com/capital
bbc.com/autos
bbc.com/culture
bbc.com/future
bbc.com/sounds
bbc.com/food
bbc.com/bitesize
bbc.com/earth
INVERT
.orb-nav-section .orb-nav-blocks
.orb-icon .orb-icon-arrow
[class*="NavigationLink-LogoLink"] > span > svg================================bbs.chinauos.com
bbs.deepin.org
INVERT
.post_tip
CSS
.post_edit p {
    color: var(--darkreader-neutral-text) !important
}================================bbs.thinkpad.com
club.lenovo.com.cn
CSS
body[style] {
    box-shadow: inset 0px 0px 0px 9999px var(--darkreader-neutral-background);
}================================behance.net
INVERT
div[class^="PrimaryNav-logoWrap"]================================benevity.com
INVERT
.header_logo================================berlingske.dk
INVERT
.site-header__logo================================bestbuy.ca
INVERT
.centerContainer
[class^="facetName"]
[class^="title"]
[class^="sortLabel"]
[class^="headerText"]
[class^="subTitle"]
[class^="price"]
[class^="soldByBestBuy"]
[class^="availabilityMessage"]
[class^="deliveryDate"]
[class^="storesNearCity"]
svg[class*="availabilityHeaderIcon"]
CSS
div[class*="backgroundContainer"] {
    z-index: 0 !important;
}
body {
    background-image: initial; !important;
}================================bestbuy.com
CSS
input[type="radio" i] {
    background-color: initial;
}================================bestchange.ru
INVERT
.tabs li a
CSS
body,
.c-inner,
.c-block .c-wrap,
#content_table thead td,
.content .intro,
.c-block,
#content_table tbody td,
#content_reviews,
.review_header,
.review_middle,
.review_bottom {
    background-image: none !important;
}================================bet.com
cmt.com
logotv.com
paramountnetwork.com
southpark.cc.com
vh1.com
CSS
body {
    background-color: var(--darkreader-neutral-background) !important;
}================================betanews.com
CSS
.sectionTop,
.editorial .header,
.tabbed .tabs li:not(.active),
.tabbed .tabs li:not(.active) a {
    background-image: none !important;
}
.tabbed .tabs li:not(.active) a {
    background-color: ${#d9d9ff} !important;
}================================bettercap.org
INVERT
.copy-to-clipboard
[src$="mitm.jpg"]
[src$="proxy.png"]
[src$="with-hsts.png"]
[src$="sslstrip2.png"]
CSS
.copy-to-clipboard {
    background-color: var(--darkreader-neutral-text) !important;
}================================bfi.org.uk
INVERT
img[src$="bfi_logo_transp.png"]
img[src$="national-lottery-logo-color.png"]
img[src*="sight-and-sound-logo-280x69.png"]
CSS
body {
    background-image: none !important;
}================================bgp.he.net
INVERT
img[src="/helogo.gif"]
img[src*="chart.googleapis.com"]
img[src^="/graphs/"]================================bible.optina.ru
CSS
body,
#left,
#right {
    background-image: none !important;
}================================bibliotecapleyades.net
CSS
body {
    background-image: none !important;
}================================bienici.com
INVERT
.section-header
.bv-form
.hpFeaturesRow
.hpContent
#searchSideView
.searchFilterViewContainer
.searchItemPhoto
#map
.animatedSideContent
#detailedSheetsNavigation================================bigocheatsheet.com
INVERT
.gray
CSS
.green,
.orange,
.yellow,
.yellow-green {
    color: black !important;
}================================biletywielkopolskie.pl
INVERT
.kw-logo================================biliomask.com
INVERT
div.header-title-logo================================binance.com
CSS
div.qr-code > canvas {
    outline: solid 10px white !important;
}
div > input[type="checkbox"] + svg {
    fill: transparent !important;
}
div > input[type="checkbox"]:checked + svg {
    fill: var(--darkreader-neutral-text) !important;
}
label > svg circle {
    fill: rgb(37, 40, 42) !important;
}================================bing.com
INVERT
canvas[id^="Microsoft.Maps"]
cib-background
CSS
.b_searchboxForm,
.b_searchboxForm:hover,
.b_focus .b_searchboxForm,
#sw_as #sa_ul:not(:empty),
cib-typing-indicator ~ .main-container,
cib-see-more-container {
    box-shadow: ${rgba(0, 0, 0, 0.1)} 0px 0px 0px 1px !important;
}
#b_results > li.b_ans.b_topborder, #b_results > li.b_ans.b_topborder.b_tophb.b_topshad {
    box-shadow: ${rgba(13, 13, 13, 0.05)} 0px 0px 0px 1px !important;
}
.l_ecrd_imcolheader.gradient {
    z-index: 2 !important;
}
#b_content {
    background-image: none !important;
}
cib-background {
    opacity: 0 !important;
}
cib-background.background {
    opacity: unset !important;
}
cib-tooltip,
.attributions > .attribution-item > .background {
    background: var(--darkreader-neutral-background) !important;
}
cib-message[type="text"]:not([serp-slot="right-rail"]),
button.container > .item-content,
button.container > .item-content:before,
.container > .options-list-container,
.container > .options-list-container li.option button:not([selected]):before,
button.container[serp-slot="none"], button.container[serp-slot="right-rail"],
#fbpgbt,
#stop-responding-button,
cib-feedback,
cib-see-more-caintainer {
    background: ${rgba(50, 50, 50, 0.1)} !important;
}
cib-message[type="text"]:not([serp-slot="right-rail"]),
cib-shared > .content > .ac-container > .ac-textBlock {
    color: var(--darkreader-text--cib-color-neutral-foreground) !important;
}
button.container[serp-slot="right-rail"]:hover {
    background: ${rgba(0, 0, 0, 0.3)} !important;
}
button.container[serp-slot="none"] {
    border: 1px solid var(--cib-color-brand-secondary-stroke) !important;
}
.attribution-container > .attribution-items > .attribution-item,
.attribution-container > .attribution-items > button.expand-button,
.ac-container.ac-adaptiveCard > .ac-textBlock > p > .tooltip-target + a > sup {
    color: #A2B7F4 !important;
    background: #050F2E !important;
}
cib-typing-indicator ~ .main-container,
cib-see-more-container {
    background: var(--darkreader-neutral-background) !important;
}
div.icon > svg > g:nth-child(1) > path:nth-child(1) {
    opacity: 0 !important;
}
.ac-container.ac-adaptiveCard > .ac-textBlock > p > .tooltip-target.hover {
    background: var(--cib-color-stealth-primary-foreground-hover) !important;
    color: var(--cib-color-brand-text-highlight-background) !important;
    text-decoration-color: var(--cib-color-brand-text-highlight-background) !important;
}
.ac-container.ac-adaptiveCard > .ac-textBlock > p code {
    background: rgba(255,255,255,0.2) !important;
}
.container > button:hover > svg-icon {
    fill: var(--cib-color-neutral-primary-background) !important;
}
IGNORE INLINE STYLE
.b_header_bg
.sp-tpwebicons.WIKI *================================biorxiv.org
INVERT
.blood_logo
.logo-img
#czilogo
CSS
body {
    background-image: none !important;
}================================bitbay.net
INVERT
.navbar-brand
.logo
.full-page-preloader================================bitbucket.org
INVERT
a[href="/product"]
.registration-hero .form-prompt
CSS
span[data-testid="file-tree-file__comments"] > span {
    color: var(--darkreader-neutral-text) !important;
}
span > svg {
    color: var(--icon-primary-color) !important;
}
[type="button"][tabindex="0"],
[data-testid="settingsButton"] {
    background-color: ${rgba(33, 53, 89, 0.04)} !important;
}
code.code,
[type="button"][tabindex="0"]:hover,
[data-testid="settingsButton"]:hover {
    background-color: ${rgba(33, 53, 89, 0.08)} !important;
}
.ak-navigation-resize-button {
    box-shadow: ${rgba(33, 53, 89, 0.08)} 0px 0px 0px 1px,
                ${rgba(33, 53, 89, 0.08)} 0px 2px 4px 1px !important;
}
IGNORE INLINE STYLE
[role="presentation"] svg *
[aria-label="Bitbucket"] *================================bitcoinprice.com
CSS
.highcharts-button-box {
    fill: var(--darkreader-neutral-background) !important;
}================================bitcoinwisdom.com
INVERT
.site-branding================================bitly.com
CSS
.hero-content {
    background-image: none !important;
}================================bitwarden.com
INVERT
img[alt="Github Logo"]
img[src$="forbes.png"]
app-login img.logo
IGNORE IMAGE ANALYSIS
blockquote .blockquote-header================================bitwit.tech
CSS
.svg-primary {
    fill: #375D69 !important;
}
.svg-primary-light {
    fill: #4A7F8F !important;
}
.svg-primary-dark {
    fill: #28444D !important;
}
.svg-secondary {
    fill: #B88399 !important;
}
.svg-secondary-light {
    fill: #E8A9C4 !important;
}
.svg-secondary-dark {
    fill: #825F6E !important;
}
.svg-light {
    fill: #ADCED9 !important;
}
.svg-outline {
    fill: none !important;
    stroke: #000000 !important;
}
.svg-primary-outline {
    fill: none !important;
    stroke: #ADCED9 !important;
}
.svg-secondary-outline {
    fill: none !important;
    stroke: #375D69 !important;
}
.theme-light {
    display: none !important;
}
.theme-dark {
    display: none !important;
}
.theme-darkreader {
    display: block !important;
}================================biznes.pap.pl
CSS
body,
#copy {
    background-image: none !important;
}================================blablacar.*
blablacar.*.*
INVERT
.kirk-topBar-left================================blackboard.com
INVERT
li[class^="js-multiple-answer-answer"][class$="selected-answer"]
li[class^="js-answer"][class~="is-selected"][class$="answer-selected"]::before
CSS
li[class^="js-multiple-answer-answer"][class$="selected-answer"]::before {
    border-color: $var(--darkreader-neutral-background) !important;
}
li[class^="js-answer"][class~="is-selected"][class$="answer-selected"]::before {
    border-color: $var(--darkreader-neutral-background) !important;
}================================blahdns.com
INVERT
[src="https://cdn.blahdns.com/logo.png"]
[src="https://cdn.blahdns.com/kofi4.png"]
.liberapay-btn > span
svg================================blaupunkt.com
INVERT
.fusion-standard-logo================================blog.cloudflare.com
CSS
body#main-body {
    color: ${black} !important;
    background-color: ${white} !important;
}
.dn {
    color: ${white} !important;
}
#nav {
    background-color: ${white} !important;
}
main#post {
    background-color: ${white} !important;
}
article.post-full {
    background-color: ${white} !important;
}
article p {
    color: ${gray} !important;
}
code {
    color: ${black} !important;
}
nav.pagination {
    background-color: ${white} !important;
}================================blog.documentfoundation.org
INVERT
img[alt*="The Document Foundation Blog"]================================blog.doist.com
INVERT
.db-header__logo-img================================blog.mozilla.org
INVERT
.content > .logo > [href^="https://www.mozilla.org/"]
.nav-global-donate > [href^="https://donate.mozilla.org/"]
CSS
.nav-global-donate > [href^="https://donate.mozilla.org/"] {
   color: ${white} !important;
}
#page {
    background-image: none !important;
}================================blog.nightly.mozilla.org
INVERT
.content > .logo > [href^="https://www.mozilla.org/"]
.nav-global-twitter a::before
.nav-global-join a::before
CSS
.nav-util-search .fm-search input {
    border-color: ${#999} !important;
}================================blog.scssoft.com
CSS
body {
    background: none !important;
}================================blogger.com
INVERT
.gb_ua
.feedflare================================blogs.windows.com
CSS
.c-video__icon::before {
    color: ${white} !important;
}
.item-single__content ::before {
    background-color: var(--darkreader-text--wp--preset--color--black) !important;
}================================bloomberg.com
INVERT
.navi-bar__button-icon
.navi-sections__item--LiveNow::before
.navi-sections__link--current::after
CSS
.navi {
    border-color: var(--darkreader-border--color-black) !important;
}================================blueberryroasters.pl
INVERT
div#logo================================bluemic.com
INVERT
.blue-logo================================boardgamearena.com
CSS
.bg-bga-whitebg {
    background-color: rgb(35, 38, 39);
}
.nex_plname {
    color: #000;
}
.nex_metropad {
    background-image: url("https://x.boardgamearena.net/data/themereleases/current/games/nextstation/220831-1241/img/mainpad_back.jpg");
    background-color: #b0b0b0;
    background-blend-mode: multiply;
}
.nex_scorepad {
    background-image: url("https://x.boardgamearena.net/data/themereleases/current/games/nextstation/221221-2031/img/scorepad.jpg")}
}
.tactic-card .card-text {
    color: #404040;
}================================boardgamegeek.com
CSS
.legacy button,
.legacy input,
.legacy optgroup,
.legacy select,
.legacy textarea{
    color: var(--darkreader-neutral-text) !important;
}================================bol.com
CSS
.skeleton-image[loaded] .skeleton-image__img,
.subcategory-entrances .image-card__image img,
.day-deal__image .img {
    mix-blend-mode: normal !important;
}================================bol.de
CSS
.tm-artikelbild-wrapper {
    z-index: 0 !important;
}================================bonfire.com
INVERT
.sw-Logo================================book.douban.com
IGNORE IMAGE ANALYSIS
.bigstar50
.bigstar45
.bigstar40
.bigstar35
.bigstar30
.bigstar25
.bigstar20
.bigstar15
.bigstar10
.bigstar05
.bigstar00
.allstar50
.allstar45
.allstar40
.allstar35
.allstar30
.allstar25
.allstar20
.allstar15
.allstar10
.allstar05
.allstar00
.rating
.starb
.collectors================================booking.com
INVERT
.bui-calendar__control
.-iconset-close
.-iconset-navarrow_left
.-iconset-navarrow_right
.sort_more_options__button
.mb-ico
.-iconset-review_great
.-iconset-review_poor
.-iconset-chat_bubbles
.location_section_icon
.hp-date-picker-icon
.-streamline-info_sign
.-streamline-person
.-streamline-chat_bubbles
.hp-policies-calendar-icon
.-iconset-moon_crescent
CSS
#ss {
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: 16px center !important;
}================================books.google.*
INVERT
.jfk-button-img================================books.zoho.eu
CSS
.scrollbox {
  background: none !important;
}================================boredpanda.com
INVERT
.logotype================================boringcompany.com
CSS
.tweak-overlay-parallax-enabled .Parallax-item {
    z-index: 1 !important;
}================================bostonacoustics.com
INVERT
img[alt="logo"]================================bowerswilkins.com
INVERT
.logo================================boxberry.ru
INVERT
.slider__image
img[src$="cancel.png"]
.box_img_block
img[src$="Vector.png"]
ymaps[class$="ground-pane"]
ymaps[class$="svg-icon-content"] > ymaps================================bpmn.io
IGNORE INLINE STYLE
.djs-visual > *:not(text:not(rect + text))================================br.de
CSS
article h4, article h3, article p, article .css-lip0i6, article h5, .asso-gtm, .css-18ckx31 {
    color: ${#323232} !important;
}
article, article section, article footer, .css-1fzo8jw, .css-efdc07, article .css-fhbsai, main h3, section.css-3copat section {
    background-color: ${white} !important;
}================================brainly.com
INVERT
.brn-rich-content > p > img================================brainly.pl
INVERT
[id^="TexFormula"]
div.brn-qpage-next-answer-box__content > div > div > div img:not(.brn-qpage-next-attachments-viewer-image-preview__image)================================brave.com
CSS
section + img {
    display: none !important;
}================================breadfinancial.com
INVERT
.header-wrapper__logo================================breitbart.com
INVERT
#FootW #FWI p .parler================================brightspace.avans.nl
CSS
:root {
    --darkreader-bg--d2l-dropdown-background-color: #1D1F20;
}================================brightspace.rug.nl
brightspace.com
brightspace.algonquincollege.com
CSS
:root {
    --d2l-menu-background-color: var(--darkreader-neutral-background) !important;
    --d2l-dropdown-background-color: var(--darkreader-neutral-background) !important;
    --darkreader-bg--d2l-dropdown-background-color: var(--darkreader-neutral-background) !important;
    --darkreader-bg--d2l-menu-background-color-hover: var(--darkreader-selection-background) !important;
    --darkreader-border--d2l-menu-border-color: var(--d2l-color-tungsten) !important;
}
d2l-card {
    background-color: var(--darkreader-neutral-background) !important;
    color: var(--darkreader-neutral-text) !important;
    border-color: var(--d2l-color-tungsten) !important;
}
.d2l-msg-container {
    border: none !important;
}================================brilliant.org
INVERT
[class*="b-sprite-landing"]
[class*="b-sprite-publishers"]
.logo================================broadcom.com
INVERT
#header .navBrand .navbar-brand================================browser.kagi.com
INVERT
img[src="public/images/checkmark.svg"]
img[src="public/images/cross.svg"]================================browserleaks.com
CSS
body {
    background-image: none !important;
}================================bsi.bund.de
INVERT
.c-branding__logo
CSS
.c-intro {
    z-index: 0 !important;
}================================buffer.com
IGNORE INLINE STYLE
div[class^="style__LogoWrapper"] *================================bugreplay.com
INVERT
.br-logo================================bugs.chromium.org
INVERT
.project-logo
.anchor
.menu
CSS
:root {
    --darkreader-fix--border: 1px solid ${#ccc} !important;
}
button[type="submit"] + mr-dropdown {
    border-right: var(--darkreader-fix--border) !important;
}
:host {
    --main-color: rgba(232, 230, 227, 0.87) !important;
    --can-bg: #1c1c1c !important;
    --mr-issue-bg: #121c14 !important;
    --mr-search-bar-border: 1px solid var(--darkreader-bg--chops-gray-400) !important;
    --chops-choice-bg: ${#eceff1} !important;
    --chops-table-header-bg: ${#f1f3f4} !important;
    --chops-card-details-bg: var(--darkreader-neutral-background) !important;
    --chops-card-heading-bg: var(--darkreader-neutral-background) !important;
    --chops-toggle-fix: rgba(255, 255, 255, 0.25) !important;
}
mr-header, mr-issue-header {
    border-bottom: var(--darkreader-fix--border) !important;
}
.metadata-container {
    border-right: var(--darkreader-fix--border) !important;
}
mr-issue-header, mr-issue-metadata {
    background: var(--mr-issue-bg) !important;
}
mr-header, thead, .comment-header {
    background: var(--chops-card-details-bg) !important;
}
mr-cue {
    background: var(--darkreader-bg--chops-notice-bubble-bg) !important;
    border: var(--darkreader-border--chops-notice-border) !important;
}
.byline {
    color: var(--main-color) !important;
}
.select-container, .select-container optgroup {
    color: var(--main-color) !important;
    background: var(--can-bg) !important;
}
input#searchq, input#searchq + button, [label="Search options"] {
    background: transparent !important;
}
.select-container, input#searchq, input#searchq + button, [label="Search options"] {
    border-top: var(--darkreader-fix--border) !important;
    border-bottom: var(--darkreader-fix--border) !important;
}
.select-container {
    border-left: var(--darkreader-fix--border) !important;
    border-right: var(--darkreader-fix--border) !important;
}
label[for="checkbox"] {
    border: var(--darkreader-fix--border) !important;
}
input[type="checkbox"]:checked + label {
    background: var(--chops-toggle-fix) !important;
}
.menu {
    box-shadow: none !important;
}================================bugs.mojang.com
INVERT
#logo================================bugs.python.org
INVERT
img[title="has PR"]
img[title="GitHub"]================================build-electronic-circuits.com
INVERT
.tutorial-intro
.tutorial-intro > *
CSS
.page-todo-list {
    background-color: rgb(109, 85, 9) !important;
}================================bulbagarden.net
CSS
body  {
    background-image: none !important;
}================================bulk.com
INVERT
.swatch-attribute.bp_size .swatch-option::before
CSS
.swatch-attribute.bp_size .swatch-option.selected::after {
    filter: none !important;
}================================bulldogjob.pl
INVERT
img[alt~="Bulldogjob"]
img[src="/bulldog.guide.svg"]
img[src="/bulldog.tte.icon.svg"]================================bulldogjob.pl/proxied/job-offers
IGNORE IMAGE ANALYSIS
*================================burmester.de
INVERT
.header-logo================================burnaware.com
INVERT
img[alt="Burnaware"]================================businessinsider.com
businessinsider.com.au
businessinsider.com.pl
businessinsider.co.za
businessinsider.es
businessinsider.jp
businessinsider.mx
insider.com
it.businessinsider.com
INVERT
.account-text-not-logged-in
.article-share_buttons
.brand
.brands-logo
.drawer-heading.headline-bold
.f-footer-logo
.f-header-logo
.f-header-editionLabel
.footer_logo-bi
.footer_social-links
.header-logo
.ins-drawer-button-area
.ins-drawer-vertical-link
.loginbar-icon-people svg
.logo
.logo-primary
.logo-pair-wrapper
.masthead-icon
.menu-search-icon
.menu-lang-icon
.navSocial-item
.navbar-brand
.net-social
.network-toggle
.new-menu-logo
.p-post-contentPrimeEntryPrice
.search-btn
.site-logo
.social-container
.social-icons > .social
.socialmedia-icon-list
.verticals-listitem-label
a[title="Business Insider España"]
a[id="menu-hamburger-button"]
a[href="/szukaj"]
button[class*="drawer-dropdown-button"]
button[class="unbutton"] > img
div[class*="footer__LogoWrapper"]
div[class*="footer__SocialWrapper"]
div[class*="header__Wrapper"]
section[class*="brands-social"]================================businesswire.com
INVERT
body > header div:first-child
CSS
#bw-home {
    background-image: none !important;
}================================buzzsprout.com
INVERT
.icon_edit
.icon_stats
.icon_share