cdaction.pl
INVERT
a[href="/"] svg
footer > div > svg================================ceneo.pl
INVERT
[data-new-icon]::before
.cat-prod-row__product-link::after
.add-to-favorite::after================================centrum24.pl
INVERT
#mobile-applications .jumbotron
.headerLogo.bankLogo
img[src*="close-black.svg"]
img[src*="GOALS.png"]
.mc-close-x-button-svg================================centrumxp.pl
INVERT
.badge-partner
.img-responsive================================chessprogramming.org
INVERT
.mw-parser-output div[class^='float'] > a > img:not(.thumbimage):not(.thumbborder)
.mw-wiki-logo
IGNORE IMAGE ANALYSIS
.mw-wiki-logo================================citybuzz.pl
INVERT
img[alt="CityBuzz"]================================classroom.google.com
INVERT
img[src$="dark_create_class_arrow.svg"]
img[aria-label="YouTube"]
div[role="dialog"] ~ div[role="menu"] > div[role="menuitem"] > div > div:not([style*="background-image"])
CSS
div[role="toolbar"] div[role="button"] > div[class*='-']:not([onclick]):not(:link):not(:visited):not([style*="background-image"]):first-child,
div[role="toolbar"] div[role="button"] > div[class*='-']:not([onclick]):not(:link):not(:visited) > :nth-child(2) > div,
div[style="bottom: 0px;"] > div[style^="opacity:"] div[role="button"] > div:not([onclick]):not(:link):not(:visited),
li[guidedhelpid="classworkTopicListGh"]:not(hover) > div {
    opacity: 99% !important;
}================================console.cloud.google.com
CSS
.cfc-ng2-region .cfc-text-title-3 {
    color: var(--darkreader-neutral-text) !important;
}
.cfc-color-text-secondary {
    color: ${#333} !important;
}
input[type=text] {
    color: var(--darkreader-neutral-text) !important;
}================================cowkrakowie.pl
INVERT
.logo
.nav-logo================================czasnastopy.pl
INVERT
.brandinglogo-wrap================================czypada.pl
INVERT
#map================================czyztak.pl
INVERT
img[alt*="Logo"]