jacobinmag.com
INVERT
.si-hr-nv__icon--menu================================jailbreak.fce365.info
CSS
body {
    background-image: none !important;
}================================jakdojade.pl
INVERT
#main-map================================jamboard.google.com
INVERT
.docs-icon-img-container
.jam-button-content
.jam-icon-palette-black
.jam-icon-sticky-note-black================================jamendo.com
INVERT
.player-volume_range_track
.player-volume_range_fill================================jared.com
kay.com
banter.com
peoplesjewellers.com
zales.com
INVERT
.company-logo================================java.com
INVERT
html #jvc0v2.bg1 .jvc0w1
html #jvc0v2.bg3 .jvc0w1
html #jvc0v2.bg5 .jvc0w1================================jbl.com
CSS
.product-tile .product-image .thumb-link img {
    mix-blend-mode: normal !important;
}
.search-refinement,
i[class^="icon"].hidden-xs {
    color: var(--darkreader-neutral-text) !important;
}
.product-tile .product-image {
    background-color: white !important;
}
.product-tile .product-swatches .swatch-list li.selected img,
.product-tile .product-swatches .swatch-list li.selected:hover img {
    border-color: white !important;
}================================jenkins.io
IGNORE INLINE STYLE
.logo-jenkins *================================jewishcurrents.org
INVERT
img[alt="Jewish Currents"]================================jira.*.com
INVERT
.aui-dropdown2-trigger::after================================jira.*.services
CSS
.hstbad {
    z-index: 1 !important;
}================================jisho.org
INVERT
h1.logo
.stage================================jobs.github.com
CSS
#page {
    background-image: none !important;
}================================joemonster.org
INVERT
#commentHeader
.art-details span
.item-vote-down
.logo
.moderb
.mtv-item-not-working
.vote-down
.vote-up
CSS
body {
    background-image: none !important;
}================================johnhorgan.org
CSS
.column-sidebar-02 h4,
.column-sidebar-02 div,
.column-sidebar-02 a {
    color: ${white} !important;
}================================joincake.com
INVERT
.theme-revamp .bg-wave
.theme-revamp .bg-wave > *
CSS
.theme-revamp .bg-wave {
    background-color: white !important;
}================================joplinapp.org
CSS
#in-the-press-section {
    background-image: none !important;
}================================journal.tinkoff.ru
INVERT
._17-LK > span
._3aEco
._1Dhxk
.uVy35.V6dif::before
._38Vkx.FrrKu::after
._3LO60._4GqdT::after
.PwECA
.best-authors__arrow.best-authors__arrow--active
.best-authors__arrow
label[class^="hamburgerMenu"]================================jpl.nasa.gov
CSS
.brand_area {
   background-image: url("https://www.jpl.nasa.gov/assets/images/logo_nasa_trio_white@2x.png") !important;
}================================jpmorgan.com
INVERT
.first-logo================================jpost.com
INVERT
img[alt*="The Jerusalem Post"]
img[class*="header"]
.btn-digital-library-header > img================================jsdelivr.com
INVERT
.navbar-brand > img================================jsware.net
INVERT
img[src="since.gif"]
CSS
h5.H5Dex,
td.Dex {
    background: unset !important;
}================================juejin.cn
INVERT
.equation================================jumia.*
jumia.*.*
zando.co.za
INVERT
svg.ic[role="img"]:not([aria-label="Zando logo"])
.logo > a > img
.inbox > a:not(:nth-of-type(1)) > svg
img[src*="jumia-group-logo.png"]
img[src*="jumia_logo_small_checkout.png"]
img[src*="/Jumia-Pay"]
li.logo:nth-child(1) > .-i-jumia-logo
.-ecosystem > a.-category.-inlineblock.-vatop:not([href*="mall"]) > img
img[src*="empty-cart.png"]
.-header > img:nth-child(1)
.-gy5 > .-fs0 > .vent-link[title*="Rewards"]
.-gy5 > .-fs0 > .vent-link[title*="Pay"]
.-gy5 > .-fs0 > .vent-link[title*="Primo"]
.-gy5 > .-fs0 > .vent-link[title*="Food"]
.-gy5 > .-fs0 > .vent-link[title*="Party"]
.-gy5 > .-fs0 > .vent-link[title*="Now"]
.col4 > .s-menu > a:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(7)) > svg
div.-fw-w:nth-child(1) > a.-fs0 > img
article.-df > svg > use
svg.ic.xprss
div.-df.-d-co.-c-bet > h3.-fw > svg.ic
a.fk-cb.-me-start.-fsh0 > svg.ic.-h-24================================justhost.ru
INVERT
.header__logo================================justtherecipe.com
INVERT
flt-glass-pane================================juwai.com
INVERT
.c-header__logo
.c-responsive-navigation__logo================================jvc.net
INVERT
img[src="img/logo.jpg"]