radar-opadow.pl
INVERT
#chase-map
.ro_tooltip================================radio17.pl
INVERT
.main-title================================radiokolor.pl
INVERT
.nav-brand
.buttons-1
a.logo-1
CSS
.content-box-1 {
    background-image: none !important;
}================================reheader.glitch.me
INVERT
[src=$"GitHub-Mark.png"]
[src=*"header-image-readme-gen.gif]
[src=*"Screen%20Shot%202020-07-17%20at%205.19.18%20PM.png"]
CSS
#add-to-github {
    background-color: #96943f !important;
}
#upload-github {
    border: 1px solid #dddddd;
}================================roblox.com
CSS
.checkbox input[type=checkbox]:checked + label::before {
    background-color: var(--darkreader-neutral-text) !important;
}================================rp.pl
INVERT
a[href="/"]
.burger--menu span
.icon-logo::before
.footer--logo
.footer--copyright--content div================================rpo.gov.pl
INVERT
.view-content .field-content > img
#etykieta_szukaj a
IGNORE IMAGE ANALYSIS
#bip_kontener================================rudeiczarne.pl
INVERT
#logo
#footer-logo================================rynek-kolejowy.pl
INVERT
.logoTK
.partnerNaglowka
.pasekbocznynaglowek span
.portalLogo
.tagLogo
.zawartoscPartner
img[alt="współpraca"]
img[class="wspolpraca"]
img[src*="img/firma"]
img[src*="katalogkolejowy"]================================rynekzdrowia.pl
INVERT
img[src*="rynekzdrowia.svg"]
img[alt*="partner"]
.search
.copyright > img================================rytmy.pl
INVERT
.logo-rytmy-a