santander.pl
INVERT
img[src*="/santander/footer/"]
.topVisual__text span
.topVisual__content.topVisual__content--nobutton================================se.pl
INVERT
.mobile-bars================================sea.playblackdesert.com
INVERT
.original .characteristic .desc
.original .characteristic h3
.original .characteristic .feature li span================================secondlife.com
INVERT
nav > div > div > div[class$=-line]
CSS
div.hero-section.homepage.wf-section {
    z-index: 0;
}================================sejm.gov.pl
CSS
.main {
    background-image: none !important;
}================================sio2.staszic.waw.pl
INVERT
.texmath================================sklepbiegacza.pl
INVERT
.header__logo
.button__icon
.main-slider__nav-item
.homepage__brand-logo
.footer__list-image
img.footer__image[src*=cash]
.product__brand-logo
.paypo-info__button================================skyscanner.*
skyscanner.*.*
backpack.github.io
tianxun.cn
whoflies.com
CSS
body {
    background: ${white} !important;
}
[class*=bpk-flare-bar__curve] {
    fill: ${white} !important;
}================================slazag.pl
INVERT
.logo__wrapper
.triangle-slazag-svg
img.section-bg-absolute
.footer__logo__section
.focus__portals__banner__single================================smoglab.pl
CSS
.main-nav,
.footer,
.module-title .main-title  {
    background-image: none !important;
}================================spidersweb.pl
INVERT
.amp-site-title
img[alt="logo bizBlog"]
img[alt="bizblog to ludzie"]================================spidersweb.pl/plus
INVERT
a[href="/plus"] svg================================spidersweb.pl/rozrywka
INVERT
a[href="/rozrywka"] svg
CSS
a[href="/rozrywka"] svg path[fill="#211D26"] {
    --darkreader-inline-fill: ${white} !important;
}================================stooq.pl
CSS
a[href="//stooq.pl"] path:not([fill]) {
    fill: var(--darkreader-neutral-text) !important;
}================================store.playstation.com
INVERT
.psw-brand-text--playstation-store================================studyflix.de
INVERT
img[title='Rendered by QuickLaTeX.com']================================subiektywnieofinansach.pl
INVERT
.logo================================svt.se
INVERT
header img[src*=svt]
.nyh_navigation__menu-toggle
[class^="VideoPlayerTheme__play-pause-button-simple"]::before
[class^="_play-pause-button-simple"]::before
CSS
.nyh_breaking__top-prefix,
.nyh_teaser__live-text {
    color: var(--darkreader-neutral-background) !important;
}
button[class^="PaginationButton"],
a[class^="PaginationButton"],
.nyh_screamer,
[class^="_RightNowTeaser__title"],
[class^="_RightNowTeaser__root"] {
    background: var(--darkreader-bg--nyh-color-white) !important;
    border-left-color: var(--darkreader-bg--nyh-color-news);
}
button[class^="PaginationButton"]:hover,
a[class^="PaginationButton"]:hover {
    background: var(--darkreader-border--color-play-white) !important;
}
.flexbox .nyh_teaser.nyh_teaser--group-secondary {
    border-right: none !important;
}
[class*="GroupSecondaryTeasers__container___"],
.nyh_feedbox-item+.nyh_feedbox-item,
.nyh_teaser.nyh_teaser--no-border-top {
    border-top: none !important;
}
.nyh_navigation .nyh_submenu::before {
    border-bottom-color: var(--darkreader-bg--nyh-color-white) !important;
}
.nyh_teaser.nyh_teaser--story-grid,
.nyh_icons_caret--factbox {
    border: none;
}
.nyh_submenu-menucard,
[class*="_Post__contentVisitor___"]::after {
    border-right-color: var(--darkreader-bg--nyh-color-grey-lighter) !important;
}
[class*="CurrentTopics__item___"],
[class*="GroupSecondaryTeasers__showMoreButton___"],
.nyh_mobile-menu__list-item,
.nyh_menu-card__submenu-item,
.nyh_submenu-menucard,
.nyh_submenu {
    border-color: var(--darkreader-border--nyh-color-grey-lighter) !important;
}
.nyh_fact-box {
    border-bottom: 1px solid var(--darkreader-border--nyh-color-grey-lighter);
    border-top: 1px solid var(--darkreader-border--nyh-color-grey-lighter);
}
.nyh_fact-box__body--closed::after {
    background: linear-gradient(to bottom, #1e202180 0%, #1e2021 100%);
}
.nyh_regional-widget-regions {
    background: var(--darkreader-bg--nyh-color-grey-lightest);
}
.nyh_submenu-menucard {
    background-color: var(--darkreader-bg--nyh-color-white);
}