sadanduseless.com
INVERT
.logo1================================safeweb.norton.com
INVERT
.logo img================================saladelcembalo.org
INVERT
#PageDiv td
CSS
html,
body,
input,
textarea,
select,
button {
    background-color: transparent !important;
    color: var(--darkreader-neutral-text) !important;
}================================salsa.debian.org
INVERT
a#logo
img.brand-header-logo================================samcodes.co.uk
INVERT
.logo================================samsung.*
INVERT
.icon
.gnb__logo
CSS
.feature-full-bleed-text img {
    filter: brightness(50%) sepia(40%) !important;
}
.feature-full-bleed-text__content {
    z-index: 1 !important;
}================================santander.pl
INVERT
img[src*="/santander/footer/"]
.topVisual__text span
.topVisual__content.topVisual__content--nobutton================================savannah.gnu.org
CSS
.boxtitle {
    background-image: none !important;
}================================sbermegamarket.ru
INVERT
ymaps[class$="ground-pane"]================================scholar.google.*
scholar.google.*.*
INVERT
a[role="checkbox"] > :nth-child(2)
div[role="banner"] > a > span
a[aria-label="Homepage"]
.gs_ico
img[src*="scholar_logo"]
a#gs_hdr_lgo
a#gs_hdr_drw_lgo================================sci-hub.*
IGNORE IMAGE ANALYSIS
#raven
#logo================================science.fandom.com
INVERT
.mwe-math-fallback-image-inline================================science.org
INVERT
.navbar-brand > .hidden-on-dark
.main-header__secondary__logo > img
CSS
h1.news-article__hero__title {
    color: var(--darkreader-neutral-text) !important;
}================================sciencebasedmedicine.org
INVERT
.site-logo================================scipy-lectures.org
INVERT
img.math================================scmp.com
INVERT
.header-menu-container__menu-top-left-wrapper
.global-menu-features__menu-icon
.global-menu-features__search-icon
.global-menu-features__close-icon
.social-button__twitter--active
.social-button__email--active
.footer-wrapper__logo================================scpclassic.wikidot.com
scpexplained.wikidot.com
scpfoundation.net
scp-wiki.net
scp-wiki.wikidot.com
scp-wiki-cn.wikidot.com
scpwiki.com
scp-ru.wikidot.com
scpfoundation.net
CSS
div#container-wrap, .panel-body, .content-panel {
    background-image: none !important;
}
div#container-wrap::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 162px;
    background-image: url(https://scp-wiki.wdfiles.com/local--files/component:theme/body_bg.png) !important;
}
.yui-navset .yui-nav a {
    background-image: none !important;
}================================scratch-wiki.info
INVERT
.sb3-comment-label
.sb3-literal-string
.sb3-literal-number================================scratch.mit.edu/projects/editor
CSS
path.blocklyFlyoutBackground {
    fill: rgb(32, 32, 32);
}================================screenconnect.com
CSS
.OuterPanel .MainPanel .MasterPanel .MasterListContainer ul li.HasChildren > div > p {
    filter: brightness(100%) !important;
}================================scribd.com
INVERT
.logo
.document_container================================scribe.rip
scribe.nixnet.services
scribe.citizen4.eu
scribe.bus-hit.me
scribe.froth.zone
CSS
body {
    background-color: var(--darkreader-neutral-background) !important;
}================================scribus.net
INVERT
#site-header img================================script.google.com
INVERT
.docs-icon
.icon
.monaco-editor .cursors-layer > .cursor
IGNORE INLINE STYLE
mask > *================================scroll.com
INVERT
#content > div > div > header > div > div > div > a.Titlebar__wordMark___2U8-r.display__desktop___1Cfo7 > div > div > svg
#content > div > div > footer > div > div > div > div.layout__column___diAE2.layout__span-12___2a4Fw.layout__span___31pR0.layout__portrait-span-3___A34nc.layout__span___31pR0.layout__landscape-span-2___30F_p.layout__order-3___3WFlS.layout__portrait-order-0___108js.space__stack-xl___1oKsQ.flex__column___JnBPu.flex__flex___1N4XU.flex__align-stretch___2HAV3.flex__direction-column___fSYwh > div > div > div > svg
CSS
.Careers__logo___1kLq6 {
    z-index: 1 !important;
}================================scroll.morele.net
INVERT
.navbar-logo
.social-link================================se.pl
INVERT
.mobile-bars================================sea.playblackdesert.com
INVERT
.original .characteristic .desc
.original .characteristic h3
.original .characteristic .feature li span================================sealegacy.org
INVERT
.custom-logo================================seamonkey-project.org
INVERT
img[src*="logo.png"]
CSS
#breadcrumbs {
    background-image: none !important;
}================================sec.sangfor.com
sec.sangfor.com.cn
INVERT
.en-logo================================secondlife.com
INVERT
nav > div > div > div[class$=-line]
CSS
div.hero-section.homepage.wf-section {
    z-index: 0;
}================================secure.ally.com
INVERT
.nobd-aob-day
#lp_invite
#manageNonAllyAccountsFrame .third-party-iframe
#billPayFrame================================secure.fanboy.co.nz
CSS
html {
    background-image: none !important;
}================================secureage.com
INVERT
.logo-block================================security.org
INVERT
.category-cards img
.featured-in img
.grid-x.stats img
.product-logo
a.brand
section[id="our-top-picks"] img================================segmentfault.com
INVERT
.sf-header-logo
.sf-header__logo
.sf-logo
.navbar-brand================================sejm.gov.pl
CSS
.main {
    background-image: none !important;
}================================sematext.com
INVERT
#logo
.sematext-clients-gamma figure================================sembr.org
CSS
mark {
    color: var(--darkreader-neutral-text) !important;
}================================seminka-chilli.cz
chilli-shop.sk
CSS
#pannelWrapper {
    background-color: var(--darkreader-neutral-background) !important;
}================================semmle.com
CSS
#Header-logo * {
    fill: #ffffff !important;
}================================senscritique.com
INVERT
.d-media-videos::before
.eins-wish.black
.eins-logo-small
.header-navigation-main-item a img
.eins-search-header
.eins-poll
.eins-compass
.eins-compass-xl
.eins-notification
.eins-tv
.eins-ticket
.eins-current.black
.eins-done.green
.eins-done.white
.eins-newspaper
.juyLRn
CSS
.ecap-products-next, .ecap-products-prev {
    background-color: hsla(100, 20%, 50%, .8) !important;
    color: ${black} !important;
}
.d-chevron3-b, .d-chevron3-l, .d-chevron3-r, .d-chevron3-t {
    background-image: -webkit-image-set(url(https://static.senscritique.com/img/layout/icons/chevrons/chevron-size3.png?201710121789416) 1x,url(https://static.senscritique.com/img/layout/icons/chevrons/chevron-size3@2x.png?201710121789416) 2x);
}================================sephora.com
INVERT
img[alt="Sephora"]
img[src="/img/ufe/icons/stores.svg"]
img[src="/img/ufe/icons/community.svg"]
img[src="/img/ufe/icons/me32.svg"]
svg[data-at="basket_icon_large"]
div[aria-label$="stars"]================================server.pro
INVERT
svg.server-pro-logo================================servercat.net
INVERT
.theme-header-logo================================setupbits.com
INVERT
.td-header-logo
.td-main-logo================================sf-express.com
INVERT
.home-icon
.map
.order-btn================================shaneco.com
INVERT
.logo-full================================share.dmhy.org
CSS
.jmd_base td a {
    color: ${#3391ff};
}
.jmd .today a {
    color: ${#fff};
}================================sharedrop.io
CSS
.qr-code img {
    border: 10px solid white !important;
}================================sharepoint.com
INVERT
img.WACPageImg
CSS
.ms-FocusZone,
.ms-DetailsRow-cell,
.ms-Button {
    background-color: var(--darkreader-neutral-background) !important;
}
.ms-DetailsRow-cell,
.ms-FocusZone,
.ms-Button,
.od-ItemContent-title,
.ms-DetailsHeader-cellName {
    color: var(--darkreader-neutral-text) !important;
}
.ms-Button {
    border-color: ${#F0F0F0} !important;
}================================shells.com
INVERT
img[alt="Shells Logo"]================================shields.io
INVERT
#app a
object================================shimadzu.com
INVERT
.header-logo================================shipstation.com
INVERT
[class*="sub-item-icon"]
[data-testid*="note-icon"]
[class*="pill-content"]
.quantity-3CkoKmy
CSS
div[class*="status-text"] {
    background-color: var(--darkreader-neutral-background) !important;
}
IGNORE INLINE STYLE
[class*="pill"]
[class*="color-button"]
[class*="dropdown-toggler-color"]================================shoecarnival.com
INVERT
.jss140================================shop.dr-rath.com
CSS
.colored-header-desktop {
    background-color: var(--darkreader-neutral-background) !important;
}================================shop.surfboard.com
INVERT
img.header-logo-image
CSS
.homepage {
    background-image: none !important;
}
.sb-searchpro .input-group .btn {
    background-color: ${#fee9a4} !important;
}================================shopify.com
shopify.dev
INVERT
.marketing-nav--skin-light > .marketing-nav__logo
.shopify-logo
.header-country-select__trigger
.lia-message-count::before
.DateTime::before================================shoppy.gg
INVERT
.footer-profile__logo================================shorthistory.org
INVERT
.td-logo > .td-main-logo > .td-retina-data================================signal.org
INVERT
.navbar-item .icon
.signal-logo================================signin.nianticlabs.com
INVERT
img[alt="Niantic"]================================signulous.com
INVERT
.checkbox input:checked
CSS
.checkbox input:checked {
    background-color: white;
}================================simepar.br
CSS
.highcharts-text-outline {
    display: none !important;
}================================similarweb.com
INVERT
.app-header__logo================================simplemachines.org
INVERT
h1.forumtitle
CSS
#header div.frame,
#header,
span.botslice span,
span.botslice,
span.topslice,
span.topslice span,
#content_section,
#content_section div.frame,
span.lowerframe,
span.lowerframe span,
div.title_bar,
h4.titlebg,
h3.titlebg,
h4.catbg,
h4.catbg2,
h3.catbg,
h3.catbg2,
.table_list tbody.header td.catbg {
    background-image: none !important;
}================================simply-v.de
CSS
body {
    background-image: none !important;
}================================singularlabs.com
INVERT
img[alt="SingularLabs"]================================sio2.staszic.waw.pl
INVERT
.texmath================================sitecheck.sucuri.net
INVERT
.icon
.logo================================sklepbiegacza.pl
INVERT
.header__logo
.button__icon
.main-slider__nav-item
.homepage__brand-logo
.footer__list-image
img.footer__image[src*=cash]
.product__brand-logo
.paypo-info__button================================skycash.com
CSS
.c-hero__newsletter {
    background-image: none !important;
}================================skyscanner.*
skyscanner.*.*
backpack.github.io
tianxun.cn
whoflies.com
CSS
body {
    background: ${white} !important;
}
[class*=bpk-flare-bar__curve] {
    fill: ${white} !important;
}================================slack.com
CSS
.c-slacklogo svg path:first-child {
    fill: var(--darkreader-selection-text) !important;
}
.c-button:not(.v--primary, .v--secondary) {
    background: inherit !important;
    color: inherit !important;
}
.c-button:not(.v--primary, .v--secondary):hover {
    text-decoration: underline !important;
}================================slackware.com
CSS
body {
    background-image: none !important;
}
td[bgcolor="#000000"] {
    border: 1px solid !important;
}================================slader.com
INVERT
.navigation__logo
.explanation
.solution-cell img
.solution-content img
.answer img================================slashnet.wordpress.com
CSS
#container,
.entry,
body {
    background-image: none !important;
}================================slazag.pl
INVERT
.logo__wrapper
.triangle-slazag-svg
img.section-bg-absolute
.footer__logo__section
.focus__portals__banner__single================================smap.uthm.edu.my
CSS
.slider-background {
    background: none !important;
}
.backstretch {
    opacity: 0.5 !important;
}================================smcdsb.elearningontario.ca
CSS
:host([no-padding-footer]) .d2l-dropdown-content-footer, :host([no-padding-header]) .d2l-dropdown-content-header, :host([no-padding]) .d2l-dropdown-content-container {
    background: var(--darkreader-neutral-background);
}================================smithsonianmag.com
INVERT
.site-logo
.footerLogo > a > img
#mobile-icon > span================================smoglab.pl
CSS
.main-nav,
.footer,
.module-title .main-title  {
    background-image: none !important;
}================================smokin-guns.org
CSS
#page-body .smoke-grid-9 .inner {
    background-image: none !important;
}================================smtp2go.com
INVERT
canvas================================smzdm.com
INVERT
#logo
.logo-left================================snack.expo.io
CSS
#root > div > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > div:nth-child(2) {
    background-color: white !important;
}================================snapcraft.io
CSS
#search-docs {
    background-image: none !important;
}================================snapeda.com
INVERT
img[title="SnapEDA"]
img.part-organization
canvas:not(#firstfootprint)================================softorage.com
CSS
.tg {
    background-image: linear-gradient(36deg,#fc466b,#3f5efb) !important;
}================================softpedia.com
IGNORE IMAGE ANALYSIS
.menubar-hp span.logov
h1.logov================================soha.vn
INVERT
.page-head__right .head-hanhtrinh img
CSS
.page-body .page-head, .page-menu, .page-top, .sh_home20-wrapper, .sh_home20-wrapper .shcategory.layout-bd-nonebg, .sh_home20-wrapper .shnews_box .noticable-news, .sh_home20-wrapper .shnews_box .reviewer .list-cmt .item-cmt, .news-detail .share {
    background-color: var(--darkreader-neutral-background) !important;
}
.sh_home20-wrapper .shnews_box .shnews_title, .sh_home20-wrapper .sh_hotnews .hotnews-label a, .news-detail .news-title, .news-content p, .list-topic-cate .item-news-cate .title-new-cate, .itembigs .related-special-news .item-related-news:first-child, .itembigs .related-special-news .item-related-news:first-child a, .rowccm li.tincungmucfocus .info h4.ksclili-title a {
    color: var(--darkreader-neutral-text) !important;
}
.page-head, .page-top {
    background-image: none !important;
}================================sony.*
IGNORE INLINE STYLE
.brand-logo-svg > g================================soundcloud.com
INVERT
.notificationIcon.messages::before
CSS
.listenEngagement, .commentForm__wrapper {
    border: none !important;
}
body,
.commentForm__wrapper,
.searchTitle {
    background: none !important;
}
.sc-classic .header__navMenu > li > a {
    border-right-color: #454545 !important;
}
.headerSearch__input {
    background: ${#f1f4f6} !important;
}================================souq.com
INVERT
img[src*="/souqAmazon-logo-v2"]
li.fashion-menu-link[aria-expanded="false"]
.userNameField::after
.filter-icon.deals
.cart-icon================================source.dot.net
CSS
.r {
    border-style: none !important;
}================================sourceforge.net
CSS
.intro,
.audience {
    background-image: none !important;
}
.all-facets, .m-project-search-results {
    background-color: ${white} !important;
}================================sourcegraph.com
INVERT
.header__logo
CSS
body {
    background-image: none !important;
}================================sourcing.hktdc.com
INVERT
.logo================================southparkstudios.com
southpark.de
CSS
:root {
    --page-background: var(--darkreader-neutral-background) !important;
}================================soylent.com
INVERT
.header-logo__image
.d-header #site-logo================================space.bilibili.com
INVERT
.count::before================================spaceweather.com
INVERT
[src$="current_conditions.jpg"]
[src$="center_tablebg_top_r2_c1.jpg"]
CSS
[background] {
    background-image: none !important;
}================================spanish.kwiziq.com
CSS
.bg-clouds {
    background-image: none !important;
}
.table-scroll-shadow-wrapper table td,
.table-scroll-shadow-wrapper table th,
.table-scroll-shadow-wrapper table tr {
    mix-blend-mode: normal !important;
}================================spc.noaa.gov
CSS
body {
    background-image: none !important;
}================================spectrum.com
INVERT
img[src$="spectrum-logo.svg"]
CSS
.sp-background-image {
    background-image: none !important;
}================================spectrum.ieee.org
INVERT
a[title="Spectrum Logo"] > svg================================spectrum.net
INVERT
.banner-wrapper > .image-container
img[src$="spectrum-logo.svg"]
CSS
.unauthenticated-homepage {
    background-image: none !important;
}================================speed.cloudflare.com
INVERT
img[src*="speedrabbit-animate.gif"]
img[src*="speedrabbit-static.png"]================================speeddial2.com
INVERT
img[src*="images/"]================================spidersweb.pl
INVERT
.amp-site-title
img[alt="logo bizBlog"]
img[alt="bizblog to ludzie"]================================spidersweb.pl/plus
INVERT
a[href="/plus"] svg================================spidersweb.pl/rozrywka
INVERT
a[href="/rozrywka"] svg
CSS
a[href="/rozrywka"] svg path[fill="#211D26"] {
    --darkreader-inline-fill: ${white} !important;
}================================sports.ru
INVERT
.nav-top-line__logo================================sporza.be
CSS
.sc-score,
.sc-score__away,
.bouton:hover {
    color: ${#222} !important;
}
.sc-score__wrapper {
    background-color: ${#BBB} !important;
}
.bouton {
    color: ${#fff} !important;
}
.sc-epg--live .sc-epg__program {
    background-color: ${#CCC} !important;
}
.vrt-newsletter {
    background-color: ${#EEE} !important;
}
.vrt-site-footer .vrt-newsletter .vrt-link--newsletter {
    background-color: ${#AAA} !important;
}
.logo__letters {
    fill: var(--darkreader-neutral-background) !important;
}
.vrt-link {
    background-color: ${rgba(255, 165, 0, 0)} !important;
    color: ${rgba(50, 50, 50)} !important;
}
.vrt-link:hover {
    background-color: ${rgb(100, 100, 100)} !important;
}
.vrt-site-footer__navigation--green {
    background-color: ${#AAA} !important;
    color: var(--darkreader-neutral-background) !important;
}================================spreadprivacy.com
INVERT
[src^="https://spreadprivacy.com/content/images/2017/07/linux"]
[src^="https://spreadprivacy.com/content/images/2017/11/Significant-Actions"]
[src^="https://spreadprivacy.com/content/images/2018/09/ddg-traffic"]
[src^="https://openclipart.org/image/24px/svg_to_png/28768/qubodup-Cubikopp-smilies"]
[src="https://spreadprivacy.com/content/images/2017/10/smiley.png"]
[src="https://spreadprivacy.com/content/images/2018/09/private-browsing4.png"]
[src="https://spreadprivacy.com/content/images/2017/10/https-in-address-bar26.png"]
[src="https://spreadprivacy.com/content/images/2018/01/private-browsing-reasons-1.png"]
[src="https://spreadprivacy.com/content/images/2020/05/search-preference-menu_heatmap.jpg"]
[src="https://spreadprivacy.com/content/images/2020/10/trilateral-invitation_header-1.png"]
[src="https://spreadprivacy.com/content/images/2020/05/search-preference-menu_comparison-1.jpg"]
[src="https://spreadprivacy.com/content/images/2020/05/search-preference-menu_screen-sizes-1.jpg"]
[src="https://spreadprivacy.com/content/images/2020/02/Awareness-of-Privacy-Risk-of-Public-USB-Charging-.jpg"]
[src="https://spreadprivacy.com/content/images/2018/02/DuckDuckGo-Extension_Desktop-OnDevice.jpg"]================================sqlitebrowser.org/stats
IGNORE INLINE STYLE
.plot-container.plotly *================================squareup.com
INVERT
.logo================================ssllabs.com
INVERT
#logo================================sso.qiniu.com
INVERT
.navbar-brand================================stablediffusionweb.com
INVERT
img[src="https://r2.stablediffusionweb.com/images/background-faqs.jpg"]================================stackage.org
INVERT
.logo================================stackexchange.com
askubuntu.com
mathoverflow.net
serverfault.com
stackapps.com
stackexchange.com
stackoverflow.com
superuser.com
INVERT
._glyph:not(.top-bar .-logo ._glyph)
.favicon-mathoverflow
.favicon-mathoverflowmeta
.favicon-stackoverflowmeta
.h-auto[alt="Academia"]
.h-auto[alt="Anime & Manga"]
.h-auto[alt="Ask Different"]
.h-auto[alt="Aviation"]
.h-auto[alt="Code Review"]
.h-auto[alt="Electrical Engineering"]
.h-auto[alt="English Language Learners"]
.h-auto[alt="Japanese Language"]
.h-auto[alt="MathOverflow"]
.h-auto[alt="Mathematics"]
.h-auto[alt="Server Fault"]
.h-auto[alt="Skeptics"]
.h-auto[alt="Software Engineering"]
.h-auto[alt="Stack Apps"]
.h-auto[alt="Super User"]
.h-auto[alt="The Workplace"]
.h-auto[alt="Theoretical Computer Science"]
.h-auto[alt="Unix & Linux"]
.h-auto[alt="Web Applications"]
.h-auto[alt="Role-playing Games"]
a.js-gps-track::before
img[alt="The Stack Exchange Network"]
CSS
body,
#content {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}
.profile-cards--graph {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 13px, ${#e4e6e8} -13px, ${#e4e6e8} 21px) !important;
}
.c-pointer {
    color: grey;
}
.js-accepted-answer-indicator.fc-green-500 {
    color: var(--green) !important;
}
#newuser-box {
    background-color: ${#FFF8DC} !important;
}
.topbar .icon-site-switcher-bubble {
    background-repeat: no-repeat !important;
}
div.h100.bar-lg.p-bs-wrapper:has(a[href="/questions"]) {
    background: linear-gradient(0deg, #502502 30%, #FFFFFF) !important;
}
div.h100.bar-lg.p-bs-wrapper:has(a[href="https://stackoverflow.co/teams"]) {
    background: linear-gradient(0deg, hsl(209,100%,26%) 30%, #FFFFFF) !important;
}
IGNORE INLINE STYLE
.chess-replayer-board td
IGNORE IMAGE ANALYSIS
.hero-background================================standards.ieee.org
INVERT
.logo-link================================stardewvalleywiki.com
CSS
html {
    background: none !important;
}================================stardock.com
INVERT
.mid
.careers================================start64.com
INVERT
img[alt="logo"]================================startech.com.bd
INVERT
#nav-toggler================================startpage.com
INVERT
.hamburger-menu .hamburger-button
IGNORE IMAGE ANALYSIS
.home__section__search-logo
.header__logo
.header-settings__logo
.hamburger-menu .hamburger-button================================stat.utels.ua
CSS
img[src="/i/btm_m1.gif"],
img[src="/i/top_m1.gif"] {
    display: none !important;
}
[style*="background: url(\"/i/box"],
td[background="/i/cntr_m1.gif"] {
    background-image: none !important;
}================================station-drivers.com
INVERT
img[src*="/topic_icons/"]
img[src*="/folder_icons/"]
img[src*="/images/bios_firmware"]
img[src*="/images/driver.jpg"]
img[src*="/images/utile"]
img[src*="/images/rating"]
img[src*="/images/star"]
img[src*="/images/downl"]
img[src*="/components/com_remository/images/file_icons/"]
img[src*="/images/gohome.gif"]================================stats.stackexchange.com
CSS
.site-header {
    background-image: none !important;
}================================status.aws.amazon.com
INVERT
.logo
.tabStandard
td > img
td > a > img
th > a > img
th > div > a > img
CSS
.tabStandard a {
    color: ${white} !important;
}
.tabStandard,
.selected a {
    color: ${white} !important;
    background-color: ${black} !important;
}
tbody > tr > th {
    background: transparent !important;
}
table > tbody > tr > td {
    background: transparent !important;
}
.gradient {
    background: transparent !important;
}================================status.epicgames.com
INVERT
div.eg-shield.white================================status.npmjs.org
INVERT
.logo-container > a > img================================statusinvest.com.br
INVERT
div.indice-list div.ml-1
div.indice-list div.mt-2
i.ml-1================================steamdeck.com
INVERT
section#available-now div.col_9
section#experience div.col_8
section#experience h2
section#topfeature div.col_5
CSS
section#available-now {
    background-color: ${#0f0f0f} !important;
}
IGNORE INLINE STYLE
#header-logo-arc================================stevendoesstuffs.dev
INVERT
.post-img-wrapper img================================stine.uni-hamburg.de
CSS
.appointment {
    background-image: none !important;
    background-color: var(--darkreader-neutral-background) !important;
}================================stm.info
INVERT
.map-OSM================================stockbit.com
INVERT
#plotplace canvas
#landing-logo img
#header-logo img
.footer-logo img
.trending-chart img
.widget-ihsg-chart img
.konvajs-content canvas
.flotcompanychart canvas
.analyst-title img
.card-calendar-title img
.calendar-more span
.save-orderbook img
.company-navigation-more span
.dropmenu-more span
.navmore span
.stream-more-wrap span
.stream-more span
.trading-menu-img
.securities-input-pass-wrapper img
.styled__PasswordContainer-w16pvr-2 img
.connectwrap_slim-off
.searchstream
.ssnlogo
CSS
.highlight {
    background-color: var(--darkreader-neutral-background) !important;
}================================stolichki.ru
INVERT
.logoBig__img
ymaps[class$="ground-pane"]
ymaps[class$="svg-icon-content"] > ymaps
ymaps[class$="placemark__content-inner"] > ymaps > ymaps================================stooq.pl
CSS
a[href="//stooq.pl"] path:not([fill]) {
    fill: var(--darkreader-neutral-text) !important;
}================================store.google.*
CSS
[style*="background-image"] {
    filter: brightness(50%) sepia(40%) !important;
}================================store.playstation.com
INVERT
.psw-brand-text--playstation-store================================store.ubi.com
INVERT
div.primary-logo
CSS
.pt_storefront-homepage #main .homepage-slider-wrapper .homepage-custom-slide > a:not(a[href$="/deals"]) .homepage-custom-slide__content .custom-slide-inner h2,
.pt_storefront-homepage #main .homepage-slider-wrapper .homepage-custom-slide > a:not(a[href$="/deals"]) .homepage-custom-slide__content .custom-slide-inner h3,
.pt_storefront-homepage #main .homepage-slider-wrapper .homepage-custom-slide a {
    color: var(--darkreader-neutral-background) !important;
}
.pt_storefront-homepage #main .homepage-slider-wrapper .homepage-custom-slide > a[href$="/deals"] .homepage-custom-slide__content .custom-slide-inner h3 {
    color: var(--darkreader-neutral-text) !important;
}================================storyteller.fit
INVERT
img[src*="icon"]================================storytellphys.wordpress.com
INVERT
img================================strava.com
INVERT
.labelGroup
#effort-box
.week.clearfix svg
#compare-graph svg
#compare-graph canvas
.nav-item a::after
.weekly-goal svg .sport-type
footer img[alt="Strava"]
.activity-indicator
.icon-other
#open-global-search-button
.icon-caret-up
.icon-caret-down
.icon-share
.icon-kudo
.icon-comment
.icon-collapse
.icon-star
.icon-caret-right
.btn-icon.remove
.icon-private
.icon-group
CSS
.base-chart .grid-line,
#athlete-history-chart .vgrid {
  stroke: #555555;
}
#athlete-history-chart #effort-box {
  fill: #3e3e3e;
  stroke: black;
}
#basic-analysis .xaxis-container .background,
#basic-analysis rect.static-info-box,
#basic-analysis rect.static-label-box {
  fill: #2c2c2c;
}
.base-chart rect.simple-bar.segmentbar {
  opacity: 1;
}
.base-chart rect.simple-bar {
  fill: #444444;
  stroke: #252627;
}
.current-week-label { fill: black; }
.sum.no-rest { fill: black; }
.options img {
  filter: invert(40%);
}
#infoBox text {
  color: black;
}
.weekly-goal svg .sport-type {
    opacity: 0.5 !important;
}
svg {
    fill: currentColor;
}
IGNORE IMAGE ANALYSIS
.app-icon.icon-fb
.app-icon.icon-rowing
.app-icon.icon-nordicski================================streamable.com
INVERT
.customer-logos
.landing .features-pane .feature > span > svg
.landing .logo
.landing .start-pane .start-form .try-arrow > img
.swoosh
#player.container .actions-section .logo
#player-play-pause-button
#player-progress-track
#player-progress-value================================student.ladok.se
CSS
#sidomeny .middle {
    background: var(--darkreader-neutral-background) !important;
}================================studio.youtube.com
INVERT
paper-radio-button
.ytcp-home-button================================studip.uni-passau.de
CSS
#layout_container > div {
  background-image: none;
}================================studyflix.de
INVERT
img[title='Rendered by QuickLaTeX.com']================================studysmarter.de
INVERT
img.Wirisformula================================subdivx.com
INVERT
#cabecera img
#contenedor_foro .cita img
#contenedor_foro .datos img[src*="/img/"]
#perfil_izq img[src*="img/"]
CSS
BODY * {
   color: ${#333};
}
A {
    color: ${#0366d6} !important;
}
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"] {
    background: ${#bbb};
    border: 1px solid #999;
}
input[type="submit"]:hover {
    background: ${#999};
    border: 1px solid #999;
}
mark {
    background: ${#f00} !important;
    color: ${#fff} !important;
}
#barra a,
#menu_largo a,
#menu_largo_chat a,
#foro_tema_menu a,
#ultimos_foros_renglon .link_foro_tema,
.titulo_menu_izq {
    color: #ddd !important;
}
#wrapper {
    background-image: none !important;
}
#contenedor_gral {
    display: table;
    background: ${#e0e0e0} !important;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 8px;
    height: -webkit-fill-available !important;
    width: fit-content !important;
}
#cabecera {
    background: ${#e4e4e4};
}
#barra,
#menu_top,
#menu_detalle_buscador,
#menu_detalle,
#menu_largo,
#menu_largo_chat,
#prog_menu_detalle,
#primer_msg_voto,
#reg_menu_detalle,
#drdivx_menu_detalle,
#contenedor_foro .fecha,
#perfil_menu,
#foro_tema_menu {
    background: ${rgb(153,173,206)} !important;
    background: linear-gradient(to bottom, ${rgb(153,173,206)} 0%, ${rgb(75,110,171)} 100%) !important;
}
#foro_home,
#foro_home_renglon,
#cuadrados_izq,
#cuadrados_izq_reng,
#chat_reng,
#contenedor_foro,
#contenedor_foro .datos,
#contenedor_foro .cita,
#contenedor_foro .mensaje {
    background: ${#fff} !important;
}
#foro_home_datos,
#cuadrados_izq {
   color: ${#999} !important;
}
#foro_home_datos a {
   color: ${#669} !important;
}================================subiektywnieofinansach.pl
INVERT
.logo================================submarinecablemap.com
INVERT
div[aria-label="Map"] > div:first-child================================subscene.com
CSS
body {
  background-image: none !important;
}================================suckless.org
INVERT
[src="dwm.svg"]
[src="st.svg"]
[src="core.svg"]
[src="surf.svg"]
[src="blind.svg"]
[src="farbfeld.svg"]
[src="quark.svg"]
[src="sent-bullets-s.png"]
[src="slstatus.svg"]================================sugaroutfitters.com
CSS
.clearfix {
    display: none !important;
}================================suggestions.momentumdash.help
CSS
#__next > div {
    --color-bg-body: var(--darkreader-neutral-background) !important;
    --color-bg-default: var(--darkreader-neutral-background) !important;
    --color-bg-emphasize: ${#ccc} !important;
}================================suite.smarttech-prod.com
INVERT
.smart-wbp-canvas-layer================================suno.com.br
INVERT
#logoSuno > a > svg================================superbuy.com
INVERT
.header-logo
.logo img================================support.arkadium.com
INVERT
img[alt="Logo"]================================support.discord.com
INVERT
.logo img
ol.breadcrumbs li:first-child::before================================support.eset.com
INVERT
i.table-icon.product================================support.mozilla.org
INVERT
.card--topic .card--icon
.card--icon-sm
div.sumo-nav--logo================================surfboard.com
INVERT
.site-logo================================surveymonkey.com
CSS
.is-high-contrast .radio-button-display,
.is-high-contrast .checkbox-button-display  {
    opacity: 1 !important;
}
.modern-browser .radio-button-display::after,
.modern-browser .checkbox-button-display::after {
    border-color: var(--darkreader-neutral-text) !important;
}================================sverigesradio.se
INVERT
#sprite-check
#sprite-facebook
#sprite-instagram
#sprite-reddit
#sprite-twitter
#sprite-whatsapp
.circle
.cross
.default
.episode-list-item__controls svg
.external-link-with-icon__icon
.gallery-button .icon
.gallery-button svg g
.info-teaser-container__title h2
.link-icon .icon
.local-weather-item__wind-icon
.logo
.menu-icon.icon
.play-icon__pause-symbol
.play-icon__play-symbol
.progress.queue-progress .bar
.sr-link__svg svg
.sr-logo-wrapper
.sound-bars .bar
.support-info__icon svg
[data-require="modules/custom-click-tracking"] svg
[data-require="modules/listen-later"] svg
[data-require="modules/share-button"] svg
button.reset
input[type="range"]::-moz-range-thumb
input[type="range"]::-moz-range-track
input[type="range"]::-webkit-slider-runnable-track
input[type="range"]::-webkit-slider-thumb
CSS
.weather-icon {
    filter: invert(1) hue-rotate(180deg) !important;
}
.live-marker .dot,
.live-label::before,
.active::before {
    background-color: var(--darkreader-neutral-text) !important;
}
.search-page em, .search-result em, .info-teaser-container__title {
    color: var(--darkreader-neutral-background) !important;
}
#sprite-home path, #sprite-news path, #sprite-podcast path, #sprite-direct path, #sprite-profile path {
    fill: var(--darkreader-neutral-text);
}================================svt.se
INVERT
header img[src*=svt]
.nyh_navigation__menu-toggle
[class^="VideoPlayerTheme__play-pause-button-simple"]::before
[class^="_play-pause-button-simple"]::before
CSS
.nyh_breaking__top-prefix,
.nyh_teaser__live-text {
    color: var(--darkreader-neutral-background) !important;
}
button[class^="PaginationButton"],
a[class^="PaginationButton"],
.nyh_screamer,
[class^="_RightNowTeaser__title"],
[class^="_RightNowTeaser__root"] {
    background: var(--darkreader-bg--nyh-color-white) !important;
    border-left-color: var(--darkreader-bg--nyh-color-news);
}
button[class^="PaginationButton"]:hover,
a[class^="PaginationButton"]:hover {
    background: var(--darkreader-border--color-play-white) !important;
}
.flexbox .nyh_teaser.nyh_teaser--group-secondary {
    border-right: none !important;
}
[class*="GroupSecondaryTeasers__container___"],
.nyh_feedbox-item+.nyh_feedbox-item,
.nyh_teaser.nyh_teaser--no-border-top {
    border-top: none !important;
}
.nyh_navigation .nyh_submenu::before {
    border-bottom-color: var(--darkreader-bg--nyh-color-white) !important;
}
.nyh_teaser.nyh_teaser--story-grid,
.nyh_icons_caret--factbox {
    border: none;
}
.nyh_submenu-menucard,
[class*="_Post__contentVisitor___"]::after {
    border-right-color: var(--darkreader-bg--nyh-color-grey-lighter) !important;
}
[class*="CurrentTopics__item___"],
[class*="GroupSecondaryTeasers__showMoreButton___"],
.nyh_mobile-menu__list-item,
.nyh_menu-card__submenu-item,
.nyh_submenu-menucard,
.nyh_submenu {
    border-color: var(--darkreader-border--nyh-color-grey-lighter) !important;
}
.nyh_fact-box {
    border-bottom: 1px solid var(--darkreader-border--nyh-color-grey-lighter);
    border-top: 1px solid var(--darkreader-border--nyh-color-grey-lighter);
}
.nyh_fact-box__body--closed::after {
    background: linear-gradient(to bottom, #1e202180 0%, #1e2021 100%);
}
.nyh_regional-widget-regions {
    background: var(--darkreader-bg--nyh-color-grey-lightest);
}
.nyh_submenu-menucard {
    background-color: var(--darkreader-bg--nyh-color-white);
}================================sw.kovidgoyal.net
CSS
.sidebar-drawer,
.sidebar-search,
.toc-drawer {
  background: var(--darkreader-neutral-background) !important;
}
.sidebar-tree a.current,
.sidebar-tree label:hover {
  background: var(--darkreader-selection-background) !important;
}================================swiatrolnika.info
INVERT
img[alt*="logo"]
img[src*="/images/images2/icons/"]================================system76.com
INVERT
svg[class^="sys-logo"]================================systemd.io
INVERT
.page-logo img