v.qq.com
INVERT
.page_user_center .link_logo================================v2ex.com
CSS
#Wrapper {
    background-image: none !important;
}================================vaccines.gov
vacunas.gov
INVERT
.accIcon
.Button
img[src$="/images/bch-logo.svg"]
img[src$="/images/en-US/wcdt.svg"]
img[src$="/images/es-US/wcdt.svg"]
img[src$="/images/hhs-logo.svg"]================================vaccines.procon.org
INVERT
#right-sidebar > aside.widget_media_image > a > img================================valgrind.org
CSS
p {
   color: var(--darkreader-neutral-text) !important;
}================================vandale.nl
INVERT
#content-top.form================================vanguard.com
INVERT
.vgn-accordionIcon
.vgn-arrow::after
#vgn-searchToggleButtonButton--long-form
#vgn-searchToggleButtonButton--small-form
input[id^="buysellForm:"]
input[id^="HoldingDetailForm:"]
CSS
.hidePageIfJSdisabled {
    display: block !important;
}================================vbulletin.com
CSS
.std {
    background-color: var(--darkreader-neutral-background) !important;
}
.hero-text,
#hometext li,
#hometext h4,
#hometext_buttons div p {
    color: var(--darkreader-neutral-background) !important;
}================================vc.ru
INVERT
mark
CSS
.main.layout,
#page_wrapper {
    background: var(--darkreader-neutral-background) !important;
}================================vcalc.com
INVERT
.navbar-brand > img
CSS
.features-area {
    background-image: none !important;
}================================vcb-s.com
CSS
html {
    background-color: transparent !important;
}================================vechevoikolokol.ru
INVERT
.map
.main-page-about .img-responsive
.header-menu__mobile .img-responsive
CSS
.main-page-about, .main-suggestions, .i-about, .issues-page__content{
    background: none !important;
}================================vendors.paddle.com
INVERT
svg.datamap
CSS
:host(pui-tabs) {
    background-color: var(--darkreader-neutral-background) !important;
    border-bottom: var(--darkreader-neutral-background) !important;
    color: ${black} !important;
}
:host(pui-tabs) ::slotted(button),
:host(pui-tabs) ::slotted(a) {
    background-color: var(--darkreader-neutral-background) !important;
    color: ${black} !important;
}
#line-chart .tick {
    fill: ${black} !important;
}================================venture.com/domains
INVERT
ul.nav
div.domain-header-brand-authority================================ventusky.com
CSS
.qo {
    color: ${white} !important;
}================================vercel.com
INVERT
[alt="optimized-frameworks"]
[class^="features_logo"]
button[class^="header_logo"]
CSS
:root {
    --geist-foreground: var(--darkreader-neutral-text) !important;
}
div[style="background:var(--accents-1);"] {
    background-color: var(--darkreader-neutral-background) !important;
}
.geist-text-center {
    color: ${#333} !important;
}================================verstka.media
INVERT
.wp-block-site-logo================================vfsglobal.cn
INVERT
.covid-icon
.logo================================vg24.pl
INVERT
img[alt="VG24.PL logo"]================================vice.com
INVERT
img[src*="article-logo"]
div.nav-bar__hamburger-button__hamburger
a.page-footer__logo-vice-link
IGNORE INLINE STYLE
.logo-vice *================================videolan.org
CSS
ul {
    color: var(--darkreader-neutral-text) !important;
}================================videoman.gr
INVERT
#logo-custom span
.logo-single================================vimeo.com
INVERT
svg[alt="Vimeo"]
#header-vimeo-logo
footer > div > div > a > svg > path[d^="M89.05 23.658a12.087 12.087"]================================virtualbox.org
CSS
body {
    background-image: none !important;
}================================virustotal.com
CSS
:root {
    --darkreader-bg--vt-grey-50: ${#eee} !important;
    --darkreader-bg--vt-grey-700: ${#666} !important;
    --vt-white: var(--darkreader-neutral-background) !important;
}
:host(.filled) .chip {
    --vt-ui-chips-color: var(--darkreader-bg--vt-grey-200) !important;
}
.range-wrapper svg {
    --vt-grey-200: var(--darkreader-bg--vt-grey-200) !important;
}
vt-ui-main-footer {
    --vt-grey-25: var(--darkreader-bg--vt-grey-200) !important;
    --darkreader-bg--vt-grey-700: ${#a0a6b4} !important;
}
.logo {
    z-index: 1 !important;
}
:host > a:not(.item),
:host > span {
    border: var(--vt-ui-button-border, 1px solid black) !important;
    color: var(--vt-ui-button-color-text, var(--darkreader-text--vt-grey-800, #e8e6e3)) !important;
}
:host(vt-ui-text-input) {
    border: var(--vt-ui-text-input-border, 1px solid var(--darkreader-border--vt-grey-200)) !important;
}
.detections[clean],
.detections[clean] svg {
    fill: var(--vt-green-500) !important;
    color: var(--vt-green-500) !important;
}
.detections {
    color: var(--vt-red-500) !important;
}
#detections .detection,
#detections {
    --darkreader-border--vt-grey-100: var(--darkreader-border--vt-grey-200) !important;
}
.avatar-section {
    background: var(--darkreader-border--vt-grey-200) !important;
}
IGNORE INLINE STYLE
.circle-progressbar circle================================vitaexpress.ru
INVERT
ymaps[class$="ground-pane"]
ymaps[class$="default-cluster"] > ymaps================================vivaldi.com
INVERT
.hero-cover
.hero-cover p================================vivaldi.net
INVERT
#vlogo================================vjudge.net
CSS
body {
    background-image: none !important;
}
#contest-rank-table td.accepted {
    background-color: ${#b8ffb8} !important;
}
#contest-rank-table td.prob.fb {
    background-color: ${#c8ffc8} !important;
}================================vk.com
CSS
body[scheme="vkcom_dark"] ._im_dialog_unread_ct {
    background: var(--counter_primary_background) !important;
}================================vmware.com
INVERT
h1.banner-title
div.banner================================vnexpress.net
INVERT
#vibeji-ham span
.logo
.logo_ft img
.sub-cate img
.swiper-pagination-bullet================================vod.tvp.pl
INVERT
img[alt="serwisy tvp"]================================votecompass.mzalendo.com
INVERT
.content_wrapper_2
.content_wrapper_2 > *================================vox.com
INVERT
.c-app-nav__logo
.c-footer__logo-link================================vpn.getadblock.com
CSS
body {
    background-image: none !important;
}================================vrt.be/vrtnws
INVERT
.vrt-header__logo
.vrt-nav-toggle-btn================================vshojo.com
CSS
.elementor-section,
.elementor-heading-title {
    background: var(--darkreader-neutral-background) !important;
    color: var(--darkreader-neutral-text) !important;
}================================vtimes.io
INVERT
.site-header__logo
.sticky-nav__logo
.article__block__disclaimer__close::after
.article__block__disclaimer__close::before================================vultr.com
CSS
.svg-banner-shape {
    fill: var(--darkreader-neutral-background) !important;
}
IGNORE INLINE STYLE
.icon-ui *
.icon-user *
.icon-sm *
.svg-logo *
.svg-illustration *
.svg-product *
.svg-shape *