x-kom.pl
INVERT
a[href="/"] img
a[href="https://x-kom.pl"] img
a[href="https://www.x-kom.pl"] img
div[title*="panel"] svg
img[alt="Menu"]
img[alt*="Logo"]
img[src*="Logo_strefy_marek"]
img[src*="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iM"]
img[src*="data:image/svg+xml;base64,PHN2ZyB4bWxucz0ia"]
.geex a img
a[href="https://geex.x-kom.pl/"] img
img[alt="Geex logotyp"]
CSS
.ePVVIv {
    filter: brightness(0.8);
}================================xcite.com
INVERT
li.xc-product-slider-item__actions-bar__express.xcf.xcf--Rocket3-012222
li.xc-product-slider-item__actions-bar__express.xcf.xcf--express-delivery
li.xc-product-slider-item__actions-bar__pickup.xcf.xcf--bag
li.xc-product-slider-item__actions-bar__secret-deal.xcf.xcf--secret-deal
div > a.xc-product-slider-item__name
div.titleFyler > span.weeklyTitle
CSS
div.algolia-instant-results-wrapper {
    background-color: var(--darkreader-neutral-background);
}================================xda-developers.com
INVERT
.hb-trigger
CSS
body.tag {
    color: var(--darkreader-neutral-text) !important;
}================================xfree86.org
INVERT
img[src*=".png"]