zacznijzyc.net
INVERT
.logo_container================================zadania.info
INVERT
img.math
img.math-display================================zaid-ajaj.github.io
CSS
:root {
    --main-background: var(--darkreader-neutral-background) !important;
    --sidebar-background: var(--darkreader-neutral-background) !important;
}================================zdic.net
INVERT
li a img
.kxtimg
.zipic img
.zx img
CSS
.nr-box-header {
    background-image: none !important;
}================================zdw.krakow.pl
CSS
#kw-alert p,
#kw-alert a {
    color: initial !important;
}================================zendesk.com
CSS
.zendesk-editor--rich-text-container {
    background-image: none !important;
}================================zenn.dev
INVERT
a[class^="AppHeader_homeLink"]================================zeptovm.com
INVERT
.logo================================zerossl.com
INVERT
.logo================================zfsbootmenu.org
CSS
body {
    background-image: none !important;
}================================zhihu.com
INVERT
img[eeimg="1"]
CSS
div.css-vurnku > div > div.css-1bi2006 {
    background-color: ${darkgray} !important;
}
div.css-vurnku button {
    color: ${darkblue} !important;
}
div.css-vurnku button svg {
    fill: ${darkblue} !important;
}================================zhixue.com
INVERT
.analysis_html_new [src]
.hd
.hd2
.hd3
.ml15 [src]
.subject-info [src]
.subject-result [src]
div.analysis-content [src]
div.mt5
#sideToolbar================================zippyshare.com
INVERT
img#browse
CSS
.inner_main > table {
    background-image: none !important;
}================================znanium.com
INVERT
.bookreadimgs================================zorin.com
INVERT
.logotype
.social
img[alt="GOG logo"]
img[alt="Windows to Zorin OS"]================================zrzutka.pl
INVERT
.navbar-logo
.rounded-circle================================zybooks.com
CSS
.image-content-resource img,
.zyimage {
    background-color: var(--darkreader-neutral-text) !important;
}